<VirtualHost *:8080>
  ServerName {{ ticketshop_hostname }}

  #SetEnv FAKE_TEQUILA ${FAKE_TEQUILA}

  ## Vhost docroot
  DocumentRoot "/var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs"

  ## Directories, there should at least be a declaration for /var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs
  <Directory "/var/www/vhosts/{{ ticketshop_vhost_dir }}/cgi-bin/">
    Require all granted
    Options +ExecCGI
    AddHandler cgi-script .cgi
  </Directory>

  ## Load additional static includes
  # Include "/var/www/vhosts/{{ ticketshop_vhost_dir }}/conf/*.conf"


  ## Script alias directives
  ScriptAlias /cgi-bin/ "/var/www/vhosts/{{ ticketshop_vhost_dir }}/cgi-bin/"

  ## Server aliases
  ServerAlias ""{{ ticketshop_hostname.split('.')[0] }}"
  ServerAlias "{{ ticketshop_hostname }}"
</VirtualHost>
