<VirtualHost *:8080>
  ServerName {{ ticketshop_hostname }}

  #SetEnv FAKE_TEQUILA ${FAKE_TEQUILA}

  ## Vhost docroot
  DocumentRoot "/var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs"

  ## Directories, there should at least be a declaration for /var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs
  <Directory "/var/www/vhosts/{{ ticketshop_vhost_dir }}/cgi-bin/">
    Require all granted
    Options +ExecCGI
    AddHandler cgi-script .cgi
  </Directory>

  ## Load additional static includes
  # Include "/var/www/vhosts/{{ ticketshop_vhost_dir }}/conf/*.conf"


  ## Logging
  ErrorLog "/var/www/vhosts/{{ ticketshop_vhost_dir }}/logs/error.log"
  LogLevel {{ apache_conf_log_level }}
  ServerSignature Off
  CustomLog "/var/www/vhosts/{{ ticketshop_vhost_dir }}/logs/access.log" "%V %a %l %u %t \"%r\" %>s %b \"%{Referer}i\" \"%{User-agent}i\" %T %D"


  ## Script alias directives
  ScriptAlias /cgi-bin/ "/var/www/vhosts/{{ ticketshop_vhost_dir }}/cgi-bin/"

  ## Server aliases
  ServerAlias ""{{ ticketshop_hostname.split('.')[0] }}"
  ServerAlias "{{ ticketshop_hostname }}"
</VirtualHost>
