ErrorLog /dev/stderr
TransferLog /dev/stdout

ScriptSock /home/dinfo/cgisock

<VirtualHost *:8080>
  ServerName {{ ticketshop_hostname }}

  PassEnv TICKETSHOP_ENVIRONMENT

  ## Vhost docroot
  DocumentRoot "/var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs"

  <Directory "/var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs">
    Require all granted
  </Directory>

  ## Directories, there should at least be a declaration for /var/www/vhosts/{{ ticketshop_vhost_dir }}/htdocs
  <Directory "/var/www/vhosts/{{ ticketshop_vhost_dir }}/cgi-bin/">
    Require all granted
    Options +ExecCGI
    AddHandler cgi-script .cgi
  </Directory>
  
  ## Script alias directives
  ScriptAlias /cgi-bin/ "/var/www/vhosts/{{ ticketshop_vhost_dir }}/cgi-bin/"

  ## Load additional static includes
  # Include "/var/www/vhosts/{{ ticketshop_vhost_dir }}/conf/*.conf"

  ## Server aliases
  ServerAlias ""{{ ticketshop_hostname.split('.')[0] }}"
  ServerAlias "{{ ticketshop_hostname }}"
</VirtualHost>
